.films-entre-annees-acteur-container {
    background: #ff0015;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.films-entre-annees-acteur-container label {
    display: block;
    margin-bottom: 10px;
}

.films-entre-annees-acteur-container input {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.films-entre-annees-acteur-container button {
    padding: 10px 15px;
    border: none;
    background: #007bff;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.films-entre-annees-acteur-container ul {
    list-style-type: none;
    padding: 0;
}

.films-entre-annees-acteur-container li {
    margin-bottom: 10px;
}
